In [42]:
import pandas as pd
from window_generator import generate_windows_pd as wg
from collections import Counter

cols = ['created','application_id','ref_type','ref_hash','click_hash','attributed','implicit','device_brand','device_model',
       'wifi', 'device_language']

installs = pd.read_csv('./data/installs.csv', usecols = cols)
installs.head()

,created,application_id,ref_type,ref_hash,click_hash,attributed,implicit,device_brand,device_model,wifi,device_language
0,2019-04-24 06:23:29.495,1,1494519392962156891,4716708407362582887,NaN,False,True,NaN,3.739127e+17,NaN,3.301378e+18
1,2019-04-24 02:06:01.032,1,1494519392962156891,7143568733100935872,NaN,False,False,NaN,7.805539e+18,NaN,3.301378e+18
2,2019-04-20 10:15:36.274,1,1494519392962156891,5230323462636548010,NaN,False,True,NaN,8.355496e+18,NaN,4.060930e+18
3,2019-04-20 21:56:47.151,1,1494519392962156891,5097163995161606833,NaN,False,True,NaN,2.355772e+18,NaN,3.301378e+18
4,2019-04-20 22:40:41.239,1,1494519392962156891,6328027616411983332,NaN,False,False,NaN,6.156971e+18,NaN,3.301378e+18

In [43]:
installs['created'] = pd.to_datetime(installs['created'])
installs['attributed'] = installs['attributed'].apply(lambda x: 1 if (x==True) else 0)
installs['implicit'] = installs['implicit'].apply(lambda x: 1 if (x==True) else 0)
installs['number_of_installs'] = 1
installs.head()

,created,application_id,ref_type,ref_hash,click_hash,attributed,implicit,device_brand,device_model,wifi,device_language,number_of_installs
0,2019-04-24 06:23:29.495,1,1494519392962156891,4716708407362582887,NaN,0,1,NaN,3.739127e+17,NaN,3.301378e+18,1
1,2019-04-24 02:06:01.032,1,1494519392962156891,7143568733100935872,NaN,0,0,NaN,7.805539e+18,NaN,3.301378e+18,1
2,2019-04-20 10:15:36.274,1,1494519392962156891,5230323462636548010,NaN,0,1,NaN,8.355496e+18,NaN,4.060930e+18,1
3,2019-04-20 21:56:47.151,1,1494519392962156891,5097163995161606833,NaN,0,1,NaN,2.355772e+18,NaN,3.301378e+18,1
4,2019-04-20 22:40:41.239,1,1494519392962156891,6328027616411983332,NaN,0,0,NaN,6.156971e+18,NaN,3.301378e+18,1

In [44]:
window1, window2, window3, window4, window5, window6, window7 = wg(installs,'created')
window1.head()

,created,application_id,ref_type,ref_hash,click_hash,attributed,implicit,device_brand,device_model,wifi,device_language,number_of_installs
2,2019-04-20 10:15:36.274,1,1494519392962156891,5230323462636548010,NaN,0,1,NaN,8.355496e+18,NaN,4.060930e+18,1
3,2019-04-20 21:56:47.151,1,1494519392962156891,5097163995161606833,NaN,0,1,NaN,2.355772e+18,NaN,3.301378e+18,1
4,2019-04-20 22:40:41.239,1,1494519392962156891,6328027616411983332,NaN,0,0,NaN,6.156971e+18,NaN,3.301378e+18,1
5,2019-04-20 18:19:27.485,1,1494519392962156891,7522785771858684314,NaN,0,1,NaN,6.208879e+18,NaN,3.301378e+18,1
6,2019-04-20 03:40:21.239,1,1494519392962156891,7882044913917355073,NaN,0,1,NaN,4.566898e+18,NaN,4.060930e+18,1

In [46]:
def get_mode(values):
    c = Counter(values)
    return c.most_common(1)[0][0]

iv1 = window1.groupby('ref_hash').agg({'application_id':get_mode})
iv1.head()

                 application_id
ref_hash
41863526108385               65
135153013040192             155
186034136943920             210
365882020742330             302
519199987760489             187