In [1]:
import pandas as pd
from datetime import timedelta
from window_generator import generate_windows_pd as wg

cols = ['created','ref_hash']
installs_csv = pd.read_csv('./data/installs.csv', usecols = cols)

installs_csv['created'] = pd.to_datetime(installs_csv['created'])
installs_csv.head()

                  created             ref_hash
0 2019-04-24 06:23:29.495  4716708407362582887
1 2019-04-24 02:06:01.032  7143568733100935872
2 2019-04-20 10:15:36.274  5230323462636548010
3 2019-04-20 21:56:47.151  5097163995161606833
4 2019-04-20 22:40:41.239  6328027616411983332

In [2]:
window1, window2, window3, window4, window5, window6, window7 = wg(installs_csv, 'created' )

/home/fedoremelianenko/FIUBA/Organizacion de datos/TPs/TP2/window_generator.py:18: FutureWarning: Comparing Series of datetimes with 'datetime.date'.  Currently, the
'datetime.date' is coerced to a datetime. In the future pandas will
not coerce, and a TypeError will be raised. To retain the current
behavior, convert the 'datetime.date' to a datetime with
'pd.Timestamp'.
  window1 = window1.loc[df[str_timestamp] > INITIAL_DATE]

In [3]:
window1['initial_date'] = pd.to_datetime(window1['created'].min().date() )
window1['t_first'] = window1['created'] - window1['initial_date']
window1 = window1.groupby('ref_hash').agg({'t_first':'min'})
window1['t_first'] = window1['t_first'].apply(lambda x: x.total_seconds())
window1.reset_index(inplace=True)
window1['ref_hash'] = window1['ref_hash'].apply(lambda x: str(x)+'_st')

window2['initial_date'] = pd.to_datetime(window2['created'].min().date() )
window2['t_first'] = window2['created'] - window2['initial_date']
window2 = window2.groupby('ref_hash').agg({'t_first':'min'})
window2['t_first'] = window2['t_first'].apply(lambda x: x.total_seconds())
window2.reset_index(inplace=True)
window2['ref_hash'] = window2['ref_hash'].apply(lambda x: str(x)+'_st')

window3['initial_date'] = pd.to_datetime(window3['created'].min().date() )
window3['t_first'] = window3['created'] - window3['initial_date']
window3 = window3.groupby('ref_hash').agg({'t_first':'min'})
window3['t_first'] = window3['t_first'].apply(lambda x: x.total_seconds())
window3.reset_index(inplace=True)
window3['ref_hash'] = window3['ref_hash'].apply(lambda x: str(x)+'_st')

window4['initial_date'] = pd.to_datetime(window4['created'].min().date() )
window4['t_first'] = window4['created'] - window4['initial_date']
window4 = window4.groupby('ref_hash').agg({'t_first':'min'})
window4['t_first'] = window4['t_first'].apply(lambda x: x.total_seconds())
window4.reset_index(inplace=True)
window4['ref_hash'] = window4['ref_hash'].apply(lambda x: str(x)+'_st')

window5['initial_date'] = pd.to_datetime(window5['created'].min().date() )
window5['t_first'] = window5['created'] - window5['initial_date']
window5 = window5.groupby('ref_hash').agg({'t_first':'min'})
window5['t_first'] = window5['t_first'].apply(lambda x: x.total_seconds())
window5.reset_index(inplace=True)
window5['ref_hash'] = window5['ref_hash'].apply(lambda x: str(x)+'_st')

window6['initial_date'] = pd.to_datetime(window6['created'].min().date() )
window6['t_first'] = window6['created'] - window6['initial_date']
window6 = window6.groupby('ref_hash').agg({'t_first':'min'})
window6['t_first'] = window6['t_first'].apply(lambda x: x.total_seconds())
window6.reset_index(inplace=True)
window6['ref_hash'] = window6['ref_hash'].apply(lambda x: str(x)+'_st')

window7['initial_date'] = pd.to_datetime(window7['created'].min().date() )
window7['t_first'] = window7['created'] - window7['initial_date']
window7 = window7.groupby('ref_hash').agg({'t_first':'min'})
window7['t_first'] = window7['t_first'].apply(lambda x: x.total_seconds())
window7.reset_index(inplace=True)
window7['ref_hash'] = window7['ref_hash'].apply(lambda x: str(x)+'_st')

window1.head()

             ref_hash     t_first
0   41863526108385_st   76310.326
1  135153013040192_st  192980.258
2  186034136943920_st   60042.839
3  365882020742330_st   96156.508
4  519199987760489_st   92860.475

In [4]:
window1.to_csv('./data/installs/iv1.csv')
window2.to_csv('./data/installs/iv2.csv')
window3.to_csv('./data/installs/iv3.csv')
window4.to_csv('./data/installs/iv4.csv')
window5.to_csv('./data/installs/iv5.csv')
window6.to_csv('./data/installs/iv6.csv')
window7.to_csv('./data/installs/iv7.csv')